@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;800&display");


body{
    background-image: radial-gradient(circle, #FFDAB9, palevioletred);
    font-family: 'Work Sans', sans-serif;
}
footer{
    font-family: 'Work Sans', sans-serif;
    color: #444;

}
.container{
    /* margin: 2cm 5cm 5cm 5cm; */
    padding-top: 2cm;
    
}
.accordion {
    background-color: #FFDAB9;
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* margin-right: 0px; */
    width: 80%;
    transition: 0.4s;
  }

/* Add a background color to the button 
if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
  
  .active, .accordion:hover {
    background-color: pink;
    outline: none;
  }
  
  .panel {
    width: 80%;
    padding: 0 18px;
    padding-top: 1%;
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    float: right;
    margin-left: 5px;
    }

.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    }    

    .myButton {
        background-color: #FFDAB9;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:10px;
        padding:7px 22px;
    }
    .myButton:hover {
        background-color: pink;
        color: black;
    }
    .myButton:active {
        position:relative;
        top:1px;
    }
    
    ul#ul_accordion{
        list-style: none;
    }
    ul#ul_accordion li:not(:last-child) {
        margin-bottom: 5px;
    }

    .panel, p{
        padding-left: 1.5cm;
    }