<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <title>Story 7</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="/resources/demos/style.css">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    </head>

    <body>
        <h1 style="text-align: center; color:brown; padding-top: 5; font-style: italic; font-size: 30;">accordion</h1>
        <h3 style="text-align: center; padding-top: 1cm; color: #444">★,｡･:*:･ﾟ’☆ about me ☆’:｡･:*:･ﾟ’★ </h3>
        <div class="container"> 
            <ul class="ul_accordion" style="list-style: none;">
                <li>
                    <a onclick="up()" class="myButton">^</a> <a onclick="down()" class="myButton">v</a>
            <button class="accordion">activity</button>
            <div class="panel">
            <p>currently studying in Fasilkom UI as a college student</p>
            </div>
        </li>
        <li>
            <a onclick="up()" class="myButton">^</a> <a onclick="down()" class="myButton">v</a>
            <button class="accordion">experiences</button>
            <div class="panel">
                <p>Staff of Public Relations OH Fasilkom UI 2019</p>
                <p>Staff of Public Relations Wisuda Ganjil Fasilkom 2020</p>
                <p>Staff of Public Relations BEM Fasilkom UI 2020</p>
                <p>Staff of Business Development PERAK Fasilkom 2020</p>
                <p>Staff of Secretary COMPFEST 2020</p>
            </div>
        </li>
        <li>
            <a onclick="up()" class="myButton">^</a> <a onclick="down()" class="myButton">v</a>
            <button class="accordion">achievement</button>
            <div class="panel">
            <p>stay at home</p>
            </div>
        </li>
        <li>
            <a onclick="up()" class="myButton">^</a> <a onclick="down()" class="myButton">v</a>
            <button class="accordion">contact me</button>
            <div class="panel">
            <p><a href="twitter.com/hanifariana" style="color: #444;">twitter</a></p>
            <p><a href="instagram.com/hanifariana" style="color: #444;">instagram</a></p>
            <p><a href="https://www.linkedin.com/in/hanifa-ariana-8832a61a0" style="color: #444;">linkedin</a></p>
            </div>
        </li>
    </ul>

        </div>
        
        <footer>
            <p style="text-align: center; font-size: 20px; padding-top: 2cm;">© 2020 Hanifa Ariana</p>

        </footer>
    <script type="text/javascript" src="{% static 'accordion.js' %}"></script>
    </body>